.appNav{
    grid-area: n;
    background-color: cornflowerblue;
}

.item{
    border: 1px solid black;
    padding: 16px;
}
.item a{
    text-decoration: none;
    color: white;
}
.item a:active, .item a:focus  {
    color: brown;
}
